Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_MostrarTareasEstado/MostrarTareasEstado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WarlockSoft/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MostrarTareasEstado" targetNamespace="http://WarlockSoft/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WarlockSoft/MostrarTareasEstado?xsd=1" namespace="http://WarlockSoft/" />
    </xsd:schema>
  </types>
  <message name="TareasEstado">
    <part name="parameters" element="tns:TareasEstado" />
  </message>
  <message name="TareasEstadoResponse">
    <part name="parameters" element="tns:TareasEstadoResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="MoverTarea">
    <part name="parameters" element="tns:MoverTarea" />
  </message>
  <message name="MoverTareaResponse">
    <part name="parameters" element="tns:MoverTareaResponse" />
  </message>
  <portType name="MostrarTareasEstado">
    <operation name="TareasEstado">
      <input wsam:Action="http://WarlockSoft/MostrarTareasEstado/TareasEstadoRequest" message="tns:TareasEstado" />
      <output wsam:Action="http://WarlockSoft/MostrarTareasEstado/TareasEstadoResponse" message="tns:TareasEstadoResponse" />
      <fault wsam:Action="http://WarlockSoft/MostrarTareasEstado/TareasEstado/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="MoverTarea">
      <input wsam:Action="http://WarlockSoft/MostrarTareasEstado/MoverTareaRequest" message="tns:MoverTarea" />
      <output wsam:Action="http://WarlockSoft/MostrarTareasEstado/MoverTareaResponse" message="tns:MoverTareaResponse" />
      <fault wsam:Action="http://WarlockSoft/MostrarTareasEstado/MoverTarea/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
  </portType>
  <binding name="MostrarTareasEstadoPortBinding" type="tns:MostrarTareasEstado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="TareasEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="MoverTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="MostrarTareasEstado">
    <port name="MostrarTareasEstadoPort" binding="tns:MostrarTareasEstadoPortBinding">
      <soap:address location="http://localhost:8080/WarlockSoft/MostrarTareasEstado" />
    </port>
  </service>
</definitions>