Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_Denunciar/Denunciar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DenunciarCC" type="tns:DenunciarCC" />
  <xs:element name="DenunciarCCResponse" type="tns:DenunciarCCResponse" />
  <xs:element name="ObtenerAsociacionD" type="tns:ObtenerAsociacionD" />
  <xs:element name="ObtenerAsociacionDResponse" type="tns:ObtenerAsociacionDResponse" />
  <xs:element name="ObtenerDenuncias" type="tns:ObtenerDenuncias" />
  <xs:element name="ObtenerDenunciasResponse" type="tns:ObtenerDenunciasResponse" />
  <xs:element name="ObtenerPerfilD" type="tns:ObtenerPerfilD" />
  <xs:element name="ObtenerPerfilDResponse" type="tns:ObtenerPerfilDResponse" />
  <xs:element name="ObtenerProyectoD" type="tns:ObtenerProyectoD" />
  <xs:element name="ObtenerProyectoDResponse" type="tns:ObtenerProyectoDResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="ObtenerDenuncias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ObtenerDenunciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ObtenerPerfilD">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDU" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerPerfilDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerAsociacionD">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDA" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerAsociacionDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerProyectoD">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerProyectoDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DenunciarCC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Elemento" type="xs:string" />
      <xs:element minOccurs="0" name="NombreElemento" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo" type="xs:string" />
      <xs:element minOccurs="0" name="Denunciante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DenunciarCCResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>