Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_VotarConocimiento/VotarConocimiento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerKarmaConocimiento" type="tns:ObtenerKarmaConocimiento" />
  <xs:element name="ObtenerKarmaConocimientoResponse" type="tns:ObtenerKarmaConocimientoResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="Votar" type="tns:Votar" />
  <xs:element name="VotarResponse" type="tns:VotarResponse" />
  <xs:complexType name="Votar">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDConocimiento" type="xs:string" />
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="Karma" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VotarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ObtenerKarmaConocimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDConocimiento" type="xs:string" />
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerKarmaConocimientoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>