Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_InvitarAsociacion/InvitarAsociacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarInvitacion" type="tns:EnviarInvitacion" />
  <xs:element name="EnviarInvitacionResponse" type="tns:EnviarInvitacionResponse" />
  <xs:element name="ObtenerMiembrosAsociacion" type="tns:ObtenerMiembrosAsociacion" />
  <xs:element name="ObtenerMiembrosAsociacionResponse" type="tns:ObtenerMiembrosAsociacionResponse" />
  <xs:element name="ObtenerRolAsociacion" type="tns:ObtenerRolAsociacion" />
  <xs:element name="ObtenerRolAsociacionResponse" type="tns:ObtenerRolAsociacionResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="VerificarMiembro" type="tns:VerificarMiembro" />
  <xs:element name="VerificarMiembroResponse" type="tns:VerificarMiembroResponse" />
  <xs:complexType name="VerificarMiembro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="IDAsociacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerificarMiembroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="EnviarInvitacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDAsociacion" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnviarInvitacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerMiembrosAsociacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDAsociacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerMiembrosAsociacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerRolAsociacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="IDAsociacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerRolAsociacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>