Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_Extras/Extras.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerCosto" type="tns:ObtenerCosto" />
  <xs:element name="ObtenerCostoResponse" type="tns:ObtenerCostoResponse" />
  <xs:element name="ObtenerEncargado" type="tns:ObtenerEncargado" />
  <xs:element name="ObtenerEncargadoResponse" type="tns:ObtenerEncargadoResponse" />
  <xs:element name="ObtenerEstadoProyecto" type="tns:ObtenerEstadoProyecto" />
  <xs:element name="ObtenerEstadoProyectoResponse" type="tns:ObtenerEstadoProyectoResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="TerminarProyecto" type="tns:TerminarProyecto" />
  <xs:element name="TerminarProyectoResponse" type="tns:TerminarProyectoResponse" />
  <xs:complexType name="ObtenerCosto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCostoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ObtenerEstadoProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerEstadoProyectoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminarProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminarProyectoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerEncargado">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProyecto" type="xs:string" />
      <xs:element minOccurs="0" name="Tarea" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerEncargadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>