Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_CrearCuenta/CrearCuenta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarCuenta" type="tns:AgregarCuenta" />
  <xs:element name="AgregarCuentaResponse" type="tns:AgregarCuentaResponse" />
  <xs:element name="BuscarCorreo" type="tns:BuscarCorreo" />
  <xs:element name="BuscarCorreoResponse" type="tns:BuscarCorreoResponse" />
  <xs:element name="BuscarNick" type="tns:BuscarNick" />
  <xs:element name="BuscarNickResponse" type="tns:BuscarNickResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="AgregarCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="FechaN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarCuentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="BuscarNick">
    <xs:sequence>
      <xs:element minOccurs="0" name="NickName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarNickResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarCorreoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>