Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_SolicitarUnionTarea/SolicitarUnionTarea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WarlockSoft/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SolicitarUnionTarea" targetNamespace="http://WarlockSoft/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WarlockSoft/SolicitarUnionTarea?xsd=1" namespace="http://WarlockSoft/" />
    </xsd:schema>
  </types>
  <message name="TerminarTarea">
    <part name="parameters" element="tns:TerminarTarea" />
  </message>
  <message name="TerminarTareaResponse">
    <part name="parameters" element="tns:TerminarTareaResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="SolicitarTrabajarTarea">
    <part name="parameters" element="tns:SolicitarTrabajarTarea" />
  </message>
  <message name="SolicitarTrabajarTareaResponse">
    <part name="parameters" element="tns:SolicitarTrabajarTareaResponse" />
  </message>
  <message name="ObtenerDatosTarea">
    <part name="parameters" element="tns:ObtenerDatosTarea" />
  </message>
  <message name="ObtenerDatosTareaResponse">
    <part name="parameters" element="tns:ObtenerDatosTareaResponse" />
  </message>
  <portType name="SolicitarUnionTarea">
    <operation name="TerminarTarea">
      <input wsam:Action="http://WarlockSoft/SolicitarUnionTarea/TerminarTareaRequest" message="tns:TerminarTarea" />
      <output wsam:Action="http://WarlockSoft/SolicitarUnionTarea/TerminarTareaResponse" message="tns:TerminarTareaResponse" />
      <fault wsam:Action="http://WarlockSoft/SolicitarUnionTarea/TerminarTarea/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="SolicitarTrabajarTarea">
      <input wsam:Action="http://WarlockSoft/SolicitarUnionTarea/SolicitarTrabajarTareaRequest" message="tns:SolicitarTrabajarTarea" />
      <output wsam:Action="http://WarlockSoft/SolicitarUnionTarea/SolicitarTrabajarTareaResponse" message="tns:SolicitarTrabajarTareaResponse" />
      <fault wsam:Action="http://WarlockSoft/SolicitarUnionTarea/SolicitarTrabajarTarea/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="ObtenerDatosTarea">
      <input wsam:Action="http://WarlockSoft/SolicitarUnionTarea/ObtenerDatosTareaRequest" message="tns:ObtenerDatosTarea" />
      <output wsam:Action="http://WarlockSoft/SolicitarUnionTarea/ObtenerDatosTareaResponse" message="tns:ObtenerDatosTareaResponse" />
      <fault wsam:Action="http://WarlockSoft/SolicitarUnionTarea/ObtenerDatosTarea/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
  </portType>
  <binding name="SolicitarUnionTareaPortBinding" type="tns:SolicitarUnionTarea">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="TerminarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="SolicitarTrabajarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="ObtenerDatosTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SolicitarUnionTarea">
    <port name="SolicitarUnionTareaPort" binding="tns:SolicitarUnionTareaPortBinding">
      <soap:address location="http://localhost:8080/WarlockSoft/SolicitarUnionTarea" />
    </port>
  </service>
</definitions>