Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_AgregarContacto/AgregarContacto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ComprobarAmistad" type="tns:ComprobarAmistad" />
  <xs:element name="ComprobarAmistadResponse" type="tns:ComprobarAmistadResponse" />
  <xs:element name="GuardarAmigo" type="tns:GuardarAmigo" />
  <xs:element name="GuardarAmigoResponse" type="tns:GuardarAmigoResponse" />
  <xs:element name="ObtenerListaContactos" type="tns:ObtenerListaContactos" />
  <xs:element name="ObtenerListaContactosResponse" type="tns:ObtenerListaContactosResponse" />
  <xs:element name="ObtenerNombreUsuario" type="tns:ObtenerNombreUsuario" />
  <xs:element name="ObtenerNombreUsuarioResponse" type="tns:ObtenerNombreUsuarioResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="ObtenerNombreUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUsuarioV" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerNombreUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GuardarAmigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="NombreContacto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuardarAmigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComprobarAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComprobarAmistadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerListaContactos">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerListaContactosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>