Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_CrearAsociacion/CrearAsociacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreaAsociacion" type="tns:CreaAsociacion" />
  <xs:element name="CreaAsociacionResponse" type="tns:CreaAsociacionResponse" />
  <xs:element name="ObtenerAsociaciones" type="tns:ObtenerAsociaciones" />
  <xs:element name="ObtenerAsociacionesResponse" type="tns:ObtenerAsociacionesResponse" />
  <xs:element name="ObtenerIDAsociacion" type="tns:ObtenerIDAsociacion" />
  <xs:element name="ObtenerIDAsociacionResponse" type="tns:ObtenerIDAsociacionResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="ObtenerAsociaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerAsociacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CreaAsociacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreAs" type="xs:string" />
      <xs:element minOccurs="0" name="Objetivo" type="xs:string" />
      <xs:element minOccurs="0" name="IDUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreaAsociacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerIDAsociacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreProy" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerIDAsociacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>