Codigo/Visual Studio/WarlockSoft/WarlockSoft/Web References/WS_AgregarTareaProyecto/CrearTareaProyecto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WarlockSoft/" targetNamespace="http://WarlockSoft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GuardarTareaProyecto" type="tns:GuardarTareaProyecto" />
  <xs:element name="GuardarTareaProyectoResponse" type="tns:GuardarTareaProyectoResponse" />
  <xs:element name="ObtenerTareasProyecto" type="tns:ObtenerTareasProyecto" />
  <xs:element name="ObtenerTareasProyectoResponse" type="tns:ObtenerTareasProyectoResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="ObtenerTareasProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerTareasProyectoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GuardarTareaProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="IDProyecto" type="xs:string" />
      <xs:element minOccurs="0" name="Conocimiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuardarTareaProyectoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>